<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Sudoku </title>

    <% htmlWebpackPlugin.files.css.forEach(function(file){ %>
    <link href="<%- file %>" rel="stylesheet">
    <% }); %>
</head>

<body class="Application">
    <header>
        <h1 class="Application__Title"> Sudoku </h1>
        <!-- <button class="control options toggle" onclick="onDebugButtonClick()"> Enter Debug Mode </button> -->
    </header>

    <main>
        <p id="wrong"> You havent found the correct answers yet . . . </p>
        <div id="correct"> 
            <h1 class="correct__title"> Successfully solved Puzzle </h1>
            <p class="correct__text"> Refresh page to try again with a new one </p>
        </div>
        <div id="grid" class="grid"> </div>
        <button class="solution" onclick="onSolutionButtonClick()"> Check Solution </button>
    </main>

    <!-- Two Debug Mode Options
    <footer>
        <div id="debugMenu">
            <button class="control options digits" onclick="onDebugButtonClick('digitsAll')"> Visualize all Same Digits </button>
            <div class="neighbour">
                <button class="control options" onclick="onDebugButtonClick('squares')"> Visualize Neighour Squares </button>
                <select id="squareSelect" class="control">
                    <option value="0"> Square 0 </option>
                    <option value="1"> Square 1 </option>
                    <option value="2"> Square 2 </option>
                    <option value="3"> Square 3 </option>
                    <option value="4"> Square 4 </option>
                    <option value="5"> Square 5 </option>
                    <option value="6"> Square 6 </option>
                    <option value="7"> Square 7 </option>
                    <option value="8"> Square 8 </option>
                </select>
            </div>
        </div>
    </footer>
     -->

    <% htmlWebpackPlugin.files.js.forEach(function(file){ %>
    <script src="<%- file %>"></script>
    <% }); %>
</body>

</html>