@import "./reset";

body {
    background: rgb(41, 43, 46);
    color: rgb(180, 181, 182);
    padding: 0 10px;
}
header {
    display: flex;
}







@import "./grid/grid";
@import "./button";
@import "./debug";
@import "./selectors";

.toggle {
    margin-left: auto;
}