@import "./reset";

body {
    background: rgb(78,78,78);
    background: linear-gradient(300deg, rgba(78,78,78,1) 0%, rgba(42,42,42,1) 50%, rgba(32,32,32,1) 100%);
    color: rgb(180, 181, 182);
    padding: 0 10px;
    min-height: 100vH;
    height: 100%;
}
header {
    display: flex;
}



.input {
    width: 44px;
    font-size: 16px;
    text-align: center;
    height: 44px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    margin: 0;
    margin-left:0px;
    border: 1px solid rgba(95, 95, 95, 0.349);
    background-color: rgba(255, 201, 92, 0.151);
    box-shadow: 2px 2px 3px 0 rgba(37, 32, 32, 0.294);
    border-radius: 5px;
    padding-right: 0px;
    cursor: default;
}



@import "./grid/grid";
@import "./button";
@import "./debug";
@import "./selectors";

.toggle {
    margin-left: auto;
}