@mixin gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    line-height: 40px;
    text-align: center;
    vertical-align: center;
}

.grid {
    @include gridLayout;
}

#grid {
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgba(24, 24, 24, 0.7);
    background: rgb(148,107,107);
    background: linear-gradient(0deg, rgba(148,107,107,1) 0%, rgba(255,124,72,1) 100%);
    width: 450px;
    margin-bottom: 20px;
}

@import "./square";