.square {
    background: rgba(255, 255, 255, 0.15);
    padding: 4px;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    box-shadow: 3px 3px 4px 0 rgba(100, 80, 80, 0.417);
}


.square.neighbour.red {
    background: rgb(179, 117, 117);
    width: auto;
    margin: 0;
    padding: 0;
    .field {
        background: rgb(199, 85, 77);
    }
}
.square.neighbour.green {
    background: rgb(164, 179, 117);
    .field {
        background: rgb(100, 200, 130);
    }
    width: auto;
    margin: 0;
    padding: 0;
}
.square.target {
    background: rgb(182, 142, 8);
    .field {
        background: rgb(187, 200, 100);
    }
    width: auto;
    margin: 0;
    padding: 0;
}

@import "./field";